<h1>Request questionnaire</h1>

<%= form_with model: @request, local: true do |f| %>

  <div>
    <%= f.label :cleanliness, "Niveau de propreté" %><br>
    <%= f.select :cleanliness,
          ["Très sale", "Sale", "Propre", "Très propre"],
          { prompt: "Sélectionnez un niveau" } %>
  </div>

  <br>

  <div>
    <%= f.check_box :fullness %>
    <%= f.label :fullness, "Est-ce complet ?" %>
  </div>

  <br>

  <div>
    <%= f.check_box :newness %>
    <%= f.label :newness, "Est-ce neuf ?" %>
  </div>

  <br>

  <div>
    <%= f.label :system_prompt, "Instructions supplémentaires" %><br>
    <%= f.text_area :system_prompt %>
  </div>

  <br>

  <div>
    <%= f.label :photo, "Ajouter une photo" %><br>
    <%= f.file_field :photo %>
  </div>

  <br>

  <%= f.submit "Créer la demande", class: "btn btn-primary" %>

<% end %>
