<div class="main-container">
  <div class="row">
    <div class="col">
      <h1>Demande N°<%= @request.id %></h1>

    </div>
    <div class="col-md-3">
      <h2>Discussions existantes</h2>
      <div class="mb-4">
        <% if @chats.any? %>
          <ul>
            <% @chats.each do |chat| %>
              <li><%= link_to chat.title, chat_path(chat) %></li>
            <% end %>
          </ul>
        <% else %>
          Il n'y a pas de encore de discussion
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Modifier la request</h3>
      <%= render "form", request: @request %>
    </div>
    <div class="col-md-3">
      <!-- ... -->
      <%= button_to "Nouvelle discussion", request_chats_path(@request), class: "btn btn-primary", data: { turbo_method: :delete, turbo_confirm: "Confirmer ?" } %>
    </div>
  </div>
  <br>
  <br>
<p>--------------------------------------------------------------------------</p>
  <br>
  <br>
<%= link_to "Supprimer la request", request_path(@request), data: { turbo_method: :delete, turbo_confirm: "Confirmer la suppression ?" }, class: "btn btn-warning m-3" %>
</div>
