<div class="chat-container py-4">
  <div class="container">
    <%= link_to "← Requête numéro #{@chat.request.id}", request_path(@chat.request), class: "text-muted text-decoration-none mb-3 d-inline-block" %>

    <h1 id="chat_title" class="mb-4"><%= @chat.title %></h1>

    <div id="messages_container" class="mb-4">
      <% @chat.messages.order(:created_at).each do |message| %>
        <% if message.role == "user" %>
          <div class="d-flex justify-content-end mb-3">
            <div class="message-bubble user-message px-4 py-3 rounded-3 shadow-sm">
              <%= message.content %>
            </div>
          </div>
        <% elsif message.role == "assistant" %>
          <div class="d-flex justify-content-start mb-3">
            <div class="message-buble assistant-message px-4 py-3 rounded-3 shadow-sm">
              <%= message.content %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div id="new_message_container" class="card shadow-sm border-0">
      <div class="card-body">
        <%= simple_form_for [@chat, @message] do |f| %>
          <div class="mb-3">
            <%= f.input :content,
              label: "Votre message",
              required: true,
              placeholder: "Décrire la marque de l'objet et autres informations",
              input_html: { class: "form-control" },
              label_html: { class: "form-label" } %>
          </div>

          <div class="mb-3">
            <%= f.input :file,
              as: :file,
              label: "Photo de l'objet",
              input_html: { class: "form-control" },
              label_html: { class: "form-label" } %>
          </div>

          <div class="d-grid">
            <%= f.button :submit, 'Envoyer', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%# Scroll down automatique %>
<script>
  document.addEventListener("turbo:load", () => {
    window.scrollTo(0, document.body.scrollHeight);
  });
</script>
